<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
	<listeners>
		<listener class-name="org.Automation.Test.FacebookListner"></listener>
	</listeners>
  <test thread-count="5" name="Test automation">  
    <classes>
      <class name="org.Automation.Test.Facebook"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
